mixin Blogs
    -
        var blogs = [
            {
                img:`${CWD}assets/img/blog/1.png`,
                title:"Pitch termsheet backing validation focus release.",
                category:"Category",
                date:"November 22, 2021",
                name:"Chandler Bing",
                avatar:`${CWD}assets/img/blog/profile1.png`,
            },
            {
                img:`${CWD}assets/img/blog/2.png`,
                title:"Seed round direct mailing non-disclosure agreement graphical user interface rockstar.",
                category:"Category",
                date:"November 22, 2021",
                name:"Rachel Green",
                avatar:`${CWD}assets/img/blog/profile2.png`,
            },
            {
                img:`${CWD}assets/img/blog/3.png`,
                title:"Beta prototype sales iPad gen-z marketing network effects value proposition",
                category:"Category",
                date:"November 22, 2021",
                name:"Monica Geller",
                avatar:`${CWD}assets/img/blog/profile3.png`,
            }
        ]
    +Section
        p.text-center.text-gray.fs-1 Our Blog
        h2.mx-auto.text-center.fs-lg-6.fs-md-5.w-lg-75 Value proposition accelerator product management venture
        .row.mt-7.gx-xl-7
            each blog in blogs
                .col-lg-4.col-md-6.mb-5.mb-lg-0
                    img(src=`${blog.img}`, alt="").img-fluid
                    .d-flex.align-items-center.gap-3.my-lg-4.my-3
                        p.fw-bold.mb-0.text-black= blog.category
                        p.mb-0= blog.date
                    h5= blog.title
                    .d-flex.align-items-center.gap-2.mt-3
                        img(src=blog.avatar, alt="").img-fluid
                        p.mb-0= blog.name
        .text-center.mt-5
            button.btn.btn-outline-dark Load More