mixin Services
    -
        var services = [
            {
                img:`${CWD}assets/img/services/1.png`,
                title:"Cool feature title",
                description:"Learning curve network effects return on investment."
            },
            {
                img:`${CWD}assets/img/services/2.png`,
                title:"Even cooler feature",
                description:"Learning curve network effects return on investment."
            },
            {
                img:`${CWD}assets/img/services/3.png`,
                title:"Cool feature title",
                description:"Learning curve network effects return on investment."
            }
        ]
    +Section
        p.text-center.fs-1 Our Services
        h2.mx-auto.text-center.fs-lg-6.fs-md-5.w-lg-75 Handshake infographic mass market crowdfunding iteration.
        .row.mt-5.gx-xl-7
            each service in services
                .col-lg-4.col-md-6.mb-3.mb-lg-0
                    img(src=`${service.img}`, alt="").img-fluid
                    h4.mt-3= service.title
                    p.fs-1= service.description
                    a(href="#").text-dark.fs-1.pb-2.fw-bold.border-black.border-bottom.text-decoration-none Explore page
                        i.fa-solid.fa-arrow-right.ms-2