mixin Blogs
    - 
        var blogs = [
            {
                img:"assets/img/blog/1.png",
                title:"Pitch termsheet backing validation focus release.",
                category:"Category",
                date:"November 22, 2021",
                name:"Chandler Bing",
                avatar:"assets/img/blog/profile1.png",
            },
            {
                img:"assets/img/blog/2.png",
                title:"Seed round direct mailing non-disclosure agreement graphical user interface rockstar.",
                category:"Category",
                date:"November 22, 2021",
                name:"Rachel Green",
                avatar:"assets/img/blog/profile2.png",
            },
            {
                img:"assets/img/blog/3.png",
                title:"Beta prototype sales iPad gen-z marketing network effects value proposition",
                category:"Category",
                date:"November 22, 2021",
                name:"Monica Geller",
                avatar:"assets/img/blog/profile3.png",
            }
        ]
    #services
        .container.px-md-5.px-lg-9
            p.text-center.text-gray.fs-1 Our Blog
            h2.mx-auto.text-center.fs-lg-6.fs-md-5.fw-normal.w-lg-75 Value proposition accelerator product management venture
            .row.mt-7.gx-lg-7.gy-5.gy-md-0
                each blog in blogs
                    .col-lg-4.col-md-6
                        img(src=`${blog.img}`, alt="").img-fluid.w-100
                        .d-flex.align-items-center.gap-3.my-xl-4.py-lg-3.py-2
                          p.fw-bold.fs-small.m-0.text-black= blog.category
                          p.m-0= blog.date
                        h3.fw-normal.fs-1.lh-base= blog.title
                        .d-flex.align-items-center.gap-2.my-4
                          img(src=blog.avatar, alt="profile")
                          p.m-0= blog.name
            .text-center.mt-5
              button.btn.btn-outlined.border-2.border-primary.text-primary.fs-1 Load More